@media screen and (max-width: 1300px) {
  /************************ Nav Section *****************************/

  .navbar {
    padding: 20px 20px 0 20px;
  }

  .logo {
    width: 100px;
  }

  .links {
    display: none;
  }

  .menu {
    display: block;
  }

  /************************ Hero Section *****************************/

  .hero {
    flex-wrap: wrap;
    padding: 0 20px;
  }

  .hero > img {
    width: 90vw;
    margin-bottom: 20px;
  }

  .hero > .text {
    width: 100vw;
    margin-bottom: 20px;
  }

  /************************ Experties Section *****************************/

  .experties {
    padding: 100px 20px;
  }
  .cards {
    flex-wrap: wrap;
    justify-content: center;
  }

  /************************ Products Section *****************************/

  .products {
    padding: 20px 20px 100px 20px;
  }

  /************************ Contact Section *****************************/

  .contact {
    margin: 0 20px 50px 20px;
  }

  /************************ Footer Section *****************************/

  footer {
    padding: 50px 20px 50px 20px;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .social {
    flex-grow: 0;
}
}

@media screen and (max-width: 850px) {
  /************************ Hero Section *****************************/

  .hero > .text > h4 {
    font-size: 18px;
    color: #ca1a27;
  }

  .hero > .text > h1 {
    font-size: 50px;
    margin: 5px 0;
  }

  .hero > .text > p {
    font-size: 14px;
    margin: 5px 0;
  }

  .heroBtn {
    margin-top: 30px;
    background-color: #ca1a27;
    padding: 12px 30px;
    font-size: 14px;
    font-weight: 500;
  }

  /************************ Experties Section *****************************/

  .stats {
    position: relative;
    z-index: 1;
    display: grid;
    grid-template-columns: 1fr;
    margin: 80px 0;
    gap: 20px;
    justify-items: stretch;
  }

  .bg {
    width: 50vw;
    height: 95%;
  }

  /************************ Products Section *****************************/

  .product-top {
    flex-wrap: wrap;
    gap: 10px;
  }

  .project-bottom {
    grid-template-columns: 1fr;
  }

  /************************ Contact Section *****************************/

  .contact-top {
    padding: 50px 20px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

  .contact-top h2 {
    font-size: 32px;
  }

  .contact-top p {
    font-size: 14px;
  }

  .contact-top button {
  }

  .contact .text {
    text-align: center;
  }

  .contact-links {
    padding: 80px 0 20px 0;
  }
}
