@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: #ffffff;
}

.mainContainer {
    background-color: black;
}

/************************ Nav Section *****************************/

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 40px 80px 0 40px;
}

.logo {
    width: 120px;
}

.links {
    display: flex;
    gap: 60px;
    align-items: center;
}

.link {
    display: flex;
    align-items: center;
}

.menu {
    display: none;
}

/************************ Hero Section *****************************/

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 100px;
}

.hero > img {
    width: 40vw;
}

.hero > .text {
    width: 50vw;
}

.hero > .text > h4 {
    font-size: 22px;
    color: #CA1A27;
}

.hero > .text > h1 {
    font-size: 62px;
    margin: 5px 0;
}

.hero > .text > p {
    font-size: 18px;
    margin: 5px 0;
}

.heroBtn {
    margin-top: 30px;
    background-color: #CA1A27;
    padding: 12px 30px;
    font-size: 16px;
    font-weight: 500;
}

/************************ Experties Section *****************************/

.experties {
    padding: 100px 200px;
    position: relative;
}
.cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    position: relative;
    z-index: 1;
}

.card {
    padding: 50px;
    background-color: #1e1e1e;
    box-sizing: border-box;
    height: 100%;
}

.card > img {
    width: 60px;
    margin-bottom: 10px;
}

.card > h4 {
    font-size: 24px;
}

.card > p {
    font-size: 18px;
    margin: 10px 0 30px 0;
}

h5 {
    color: #CA1A27;
    font-size: 18px;
}

.sec-card {
    background-color: #CA1A27;
}

.sec-card > img {
    height: 61px;
    width: 55px;
}

.invert {
    filter: invert(100%);
}

.sec-card > h5 {
    color: #ffffff;
}

.stats {
    position: relative;
    z-index: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 80px 0;
    gap: 20px;
    justify-items: stretch;
}

.stat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    background-color: #1e1e1e;
}

.stat > h3 {
    color: #CA1A27;
    font-size: 38px;
    margin-bottom: 10px;
}

.stats > p {
    font-size: 14px;
}

.big-stat {
    grid-row: 1 / 3;
    background-color: transparent;
}

.big-stat > h1 {
    color: #CA1A27;
    font-size: 72px;
    font-weight: 800;
}

.big-stat > h3 {
    font-size: 22px;
    color: #ffffff;
}

.bg {
    width: 40vw;
    height: 100%;
    background-color: #040404;
    position: absolute;
    top: 0;
    z-index: 0
}

/************************ Products Section *****************************/

.products {
    padding: 0 200px 100px 200px;
}

.product-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.product-top h2 {
    font-size: 28px;
    font-weight: 800;
}

.product-top p {
    font-size: 16px;
    margin-top: 10px;
}

.product-top button {
    background-color: #CA1A27;
    padding: 12px 30px;
    font-size: 16px;
    font-weight: 500
}

.project-bottom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.project-bottom img {
    box-sizing: border-box;
    width: 100%;
    height: 80%;
    padding: 60px 20px;
    background-color: #1e1e1e;
    margin-bottom: 15px;
}

.project-bottom h4 {
    font-size: 24px;
    margin-bottom: 10px ;
}

/************************ Contact Section *****************************/

.contact {
    margin: 0 200px 50px 200px;
}

.contact-top {
    padding: 70px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1e1e1e;
}

.contact-top h2 {
    font-size: 42px;
    margin-bottom: 20px;
}

.contact-top p {
    font-size: 16px;
}
.contact-top button {
    margin: 0 10%;
    background-color: #CA1A27;
    padding: 12px 30px;
    font-size: 16px;
    font-weight: 500;
    border: none
}

.contact-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    font-size: 14px;
    padding: 80px 0 20px 0;
}

/************************ Footer Section *****************************/

footer {
    padding: 50px 200px 50px 200px;
    background-color: #1e1e1e;
    display: flex;
    align-items: center;
}

.social {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    gap: 40px;
}